<?xml version="1.0" encoding="utf-8" ?>
<openconnect>
  <client>
    <name>QQ</name>
    <appId>100238506</appId>
    <appSecret>0379c7b5e5f78aa7909f2238d3186893</appSecret>
    <redirectUri>http://test.sigcms.com/Account/QQLoginSuccess</redirectUri>
    <provider>OpenConnect.Providers.QQ.QQOpenConnectProvider, OpenConnect</provider>
  </client>
  <client>
    <name>Sina Weibo</name>
    <appId>2841977476</appId>
    <appSecret>f8abbb8426b825822f81ef80bb648d08</appSecret>
    <redirectUri>http://test.sigcms.com/Account/WeiboLoginSuccess</redirectUri>
    <provider>OpenConnect.Providers.Weibo.WeiboOpenConnectProvider, OpenConnect</provider>
  </client>
  <client>
    <name>Live</name>
    <appId>0000000040080F13</appId>
    <appSecret>yIs33isum4ZmnahwPbyGNbnJY4RoiyvS</appSecret>
    <scope>wl.signin,wl.basic</scope>
    <redirectUri>http://test.sigcms.com/Account/LiveLoginSuccess</redirectUri>
    <provider>OpenConnect.Providers.Live.LiveOpenConnectProvider, OpenConnect</provider>
  </client>
  <client>
    <name>Renren</name>
    <appId>d932b70a58d84905a66aa6b06e47377b</appId>
    <appSecret>30f63d25cff548649a51f73c952299b7</appSecret>
    <scope></scope>
    <redirectUri>http://test.sigcms.com/Account/RenrenLoginSuccess</redirectUri>
    <provider>OpenConnect.Providers.Renren.RenrenOpenConnectProvider, OpenConnect</provider>
  </client>
</openconnect>