@model List<OpenConnect.MvcExample.Models.LoginLink>

@{
    ViewBag.Title = "Home Page";
}

<h2>Login</h2>

<div>
@foreach (var link in Model)
{
    <a href="@link.NavigateUrl"><img src="@link.ImageUrl" alt="" /></a>
}
</div>
