@model OpenConnect.IUserInfo

@{
    ViewBag.Title = "Welcome!";
}

<h2>Welcome @Model.NickName!</h2>

<div style="padding:10px 0">
    <img alt="" src="@Model.HeadImageUrl" />
</div>
<div>
    Login with @ViewBag.ClientName.
</div>